header {
	height: 5em;
	background-color: #000000;
	color:white ;
	position:relative;
	opacity:0.5;
}

header h1 {
	font-family: 'Muli', sans-serif;
	text-align: center;
	padding-top:0.5em;
}

#event_header {
	color: #0000FF;
	opacity: 1;
}

footer {
	position: fixed;
	bottom: 0em;
}

#everything {
	position: relative;
}

#map-canvas {
	position: absolute;
	left: 1em;
	top: 2em;
	width:30em;
	height:25em;
}


#form {
	position: absolute;
	top: 27em;
	left: 3em;

}

#event_date {
	position:absolute;
	top: 30em;
	right:10%

}

#event_date p {
	font-size: 4em;
}

form {
	display: block;
	width:20em;
}

#front_container {
	position: relative;
	height: 35em;
}

a {
	text-decoration: none;
	color:white;
	font-size: 3em;
}

.frontlink {
	height: 10em;
	width: 25em;
	position: absolute;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	line-height: 10em;
	cursor: pointer;
	box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.frontlink a:before {
	content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0,255,255, 0.5);
	  transition: all .3s linear;
}

.frontlink a:hover:before { background: none; }


.frontlink a {
	position: :relative;
}

.frontlink img {
    height: 100%;
    width: 100%;
    margin:auto;
    display: block
}

#front_gay {
top: 5em;
left: 10%;
}

#front_gay:hover:before {background: none;}

#front_wwc {
top: 5em;
right:10%;
background-color: red;
}

#front_wwc a:before {
	background: rgba(255,0,0, 0.5);
}

#front_wwc a:hover:before { background: none; }

#front_C {
top: 25em;
left:10%;
background-color: red;
}

#front_C a:before {
	background: rgba(255,255,0, 0.5);
}

#front_C a:hover:before { background: none; }

#front_D {
top: 25em;
right:10%;
background-color: red;
}

#front_D a:before {
	background: rgba(0,0,0, 0.5);
}

#front_D a:hover:before { background: none; }


/*Javascript formatting*/
#post {
	top:2em;
	position: absolute;
	right: 0%;
	min-height:25em;
	width: 50%;
	border: 5px solid rgba(0, 0, 205, .5);
	font-family: 'Oxygen', sans-serif;
	background-color:#f5f5f5;
}



.firstHeading {
	text-align: center;
	font-weight:700;
}

.firstHeading a {
	text-decoration: none;
	color:black;
	font-size: 0.8em;
}

#post img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#time_created {
	text-align: center;
}

#caption {
	margin:1em;
}

