header {
	height: 5em;
	background-color: blue;
	color:white ;
	position:relative;
	opacity:0.5;
}

header h1 {
	font-family: 'Muli', sans-serif;
	text-align: center;
	padding-top:0.5em;
}

#top {
	position: relative;
	height:25em;
}

#map-canvas {
	position: absolute;
	left: 1em;
}

#post {
	position: absolute;
	left:40em;
}

#form {
	position: relative;

}

form {
	display: block;
}

#front_container {
	position: relative;
	height: 35em;
}

a {
	text-decoration: none;
	color:white;
	font-size: 3em;
}

.frontlink {
height: 10em;
width: 25em;
position: absolute;
font-family: 'Nunito', sans-serif;
text-align: center;
line-height: 10em;

cursor: pointer;
box-shadow: rgba(0,0,0,.2) 3px 5px 5px;

}

.frontlink:before {
	content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}

.frontlink:hover:before { background: none; }

/*.frontlink:hover {
	opacity:0.5;
}*/


.frontlink img {
    max-height: 100%;
    max-width: 100%;
}

#front_gay {
top: 5em;
left: 10%;
}

#front_gay:hover:before {background: none;}

#front_wwc {
top: 5em;
right:10%;
background-color: red;
}

#front_C {
top: 25em;
left:10%;
background-color: red;
}

#front_D {
top: 25em;
right:10%;
background-color: red;
}