<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'weekend/insta_frontend.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href ="{% static 'weekend/main.css' %}">
    <title>Weekend</title>
	<title></title>
</head>
<body>
<div class = "container">
	<header>
		{% block header %}
			<h1>Instavent</h1>
		{% endblock %}
	</header>

	<div class = "content">
		{% block content %}
		{% endblock %}
	</div>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
</div>
</body>
</html>