{% extends "weekend/base.html" %}

{% load static %}
{% block content %}

<div id= "front_container">

	<div id ="front_gay" class="frontlink"><a  href="gay_pride"> <img src="{% static 'weekend/gay_flag.png' %}" alt="" width="400" height="260"> </a> </div>

	<div id ="front_wwc" class ="frontlink"> <a href="wwc"> <img src="{% static 'weekend/amorgan.jpg' %}" alt="" width="400" height="260">  </a> </div>

	<div id = "front_C" class = "frontlink"> <a href=""> xx </a> </div>

	<div id = "front_D" class = "frontlink"><a id ="front_xx" href=""> xx</a> </div>

</div>

{% endblock %}